.dash-container {
  display: grid;
  grid-template-areas: 'sideBar  content';
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}
.dash-container div.sideBar {
  grid-area: sideBar;
}
.dash-container div.content {
  grid-area: content;
}
