html, body ,#root {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
}

.Box{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.MainLayout{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    box-sizing: border-box;
}
.MainLayout > header,
.MainLayout > footer {
    grid-column: span 6;
}
.MainLayout > main {
    grid-row: 2 / 3;
    grid-column: span 5;
    
}
.MainLayout , 
.MainLayout > * {
     border: 0.5px groove rgb(182, 177, 177); 
}
.LogoImage{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}